<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中南大学软件学院</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{% static "css/iframe.css" %}" rel="stylesheet">
</head>

<body>
<div>
    <div style="width: 80%;height: auto;margin-right: auto;margin-left: auto">
        <form id="registerForm" class="am-form" enctype="multipart/form-data" method="post" action="/addAnswer1/">
            {% csrf_token %}
            <fieldset>
                <legend>{{ task.name }}</legend>

                <div class="am-form-group">
                    <label>学号
                    </label>
                    <input type="text" class="" id="id" name="id" readonly="readonly" value={{ id }}>
                </div>

                <div class="am-form-group">
                    <label>姓名
                    </label>
                    <input type="text" class="" id="name" name="name" readonly="readonly" value={{ name }}>
                </div>

                <br>

                <div class="am-form-group">
                    <p><label>{{ task.question }}</label></p>
                    <textarea class="" rows="10" name="ans" id="ans" {{ stat }}>{{ ans }}</textarea>
                </div>

                <br>
{% if stat == "" %}
                <div>
                    <input type="submit" class="am-btn am-btn-default am-btn-sm am-btn-block" value="保存"></input>
                </div>
{% else %}
                <div>
                    <button type="submit" class="am-btn am-btn-default am-btn-sm am-btn-block" onclick="back()">返回</button>
                </div>
{% endif %}
            </fieldset>
        </form>
    </div>
</div>
<script>

    function back() {
        history.back()
    }

</script>
</body>
</html>