<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中南大学软件学院</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{% static "css/user_center.css" %}" rel="stylesheet">
</head>

<body>
    <div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation" id="menu-nav">
        <div class="container-fluid">

            <div class="navbar-header">
                <!--屏幕较小时，右上角显示为三条横线，导航栏折叠-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <!--商标-->
                <a id="navbar-brand" class="navbar-brand" href="/" style="color: whitesmoke">   中南大学软件学院</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/usercenter/" style="color: whitesmoke"><span class="glyphicon glyphicon-user"></span>  {{ user.name }}  </a></li>
                    <li><a href="#" onclick="logout()" style="color: whitesmoke"><span class="glyphicon glyphicon-log-out"></span> 登出 </a></li>
                </ul>
                <ul class="nav navbar-nav">
                {% for nav in navbar %}
                    {% if nav.len == 1 %}
                    <li><a href="{{ nav.val.0.herf }}" style="color: whitesmoke">{{ nav.val.0.name }}</a></li>
                    {% else %}
                    <li class="dropdown">
                    <a href="{{ nav.val.0.herf }}" class="dropdown-toggle" data-toggle="dropdown" style="color: whitesmoke">
                        {{ nav.val.0.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for subnav in nav.val %}
                        {% if forloop.counter0 != 0 %}
                        <li class="subnav"><a href="{{ subnav.herf }}" style="color: black">
                            {{ subnav.name }}
                        </a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    </li>
                    {% endif %}
                {% endfor %}

                {% if user != None %}
                    <li><a href="/usercenter/" style="color: whitesmoke">个人中心</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- 左侧选项栏  -->
    <div class="col-md-2 sidebar" id="left">
        <ul id="left_ul" class="nav nav-sidebar">
            <li id="home" class="active"><a href="home" target="right_page">个人信息</a></li>
{#            <li id="pages"><a href="pages" target="right_page">网站页面管理</a></li>#}
{#            <li id="users"><a href="users" target="right_page">用户管理</a></li>#}
{#            <li id="articles"><a href="articles" target="right_page">文章管理</a></li>#}
{#            <li id="meetingroom"><a href="meetingroom" target="right_page">会议室借用</a></li>#}
            <li id="laboratory"><a href="laboratory" target="right_page">实验室申请</a></li>
{#            <li id="equipment"><a href="#" target="right_page">设备借用</a></li>#}
{#            <li id="leave"><a href="#" target="right_page">线上请假系统</a></li>#}
{#            <li id="oj"><a href="#" target="right_page">线上考试系统</a></li>#}
{#            <li id="student_cadres"><a href="#" target="right_page">学生机构招新</a></li>#}
        </ul>
    </div>

    <!-- 右侧内容 -->
    <div class="col-sm-9 col-sm-offset-3 col-md-offset-2 col-md-10 main" id="right">
        <iframe id="right_page" name="right_page" width="100%" frameborder="0"></iframe>
    </div>

<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<!-- 本地js文件 -->
<script src="{% static "js/user_center.js" %}"></script>
</body>
</html>
<script>
    var USER_ID = "{{ user.id }}";
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: "{{ csrf_token }}" }
    });
</script>