<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中南大学软件学院</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{% static "css/iframe.css" %}" rel="stylesheet">
</head>

<body>
<br>

<div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
        <label>姓名：{{ user.name }}</label>
    </div>
    <div class="form-group">
        <label>学号：{{ user.id }}</label>
    </div>
    <div class="form-group">
        <form id="change_pwd" action="/user/pwd/" method="post">
            <label for="pwd">密码：</label>
            {% csrf_token %}
            <input type="password" class="input_area" id="pwd" name="pwd">
        </form>
    </div>
    <div>
        <button class="btn btn-default" style="width: 50%; text-align:center; alignment: center" onclick="change_pwd()">修改密码</button>
    </div>

</div>


<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<!-- 本地js文件 -->
<script src="{% static "js/user_center.js" %}"></script>
<script>
function change_pwd() {
    let pwd = document.getElementById("pwd").value;
    if(pwd.length < 8) {
        alert("密码长度少于8位！");
    } else {
        $.ajax({
            url: "/user/pwd/",
            type: "POST",
            data: {
                pwd: pwd,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success:function(callback) {
                callback_dict = $.parseJSON(callback);
                alert(callback_dict.msg);
                if(callback_dict.stat === 1) {
                    {#location.reload();#}
                    parent.location.reload();
                }
            }
        })
    }
}
</script>
</body>
</html>