body {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #5a5a5a;
}

/* 超链接去掉下划线 */
a {
    text-decoration: none
}

/* 轮播广告 */
#carousel-example-generic {
    width: 100%;
    height: 400px;
    margin-bottom: 60px;
}
#carousel-example-generic.item {
    width: 100%;
    background-color: #000;
}
#carousel-example-generic img {
    height: 400px;
    width: 100%;
}

#carousel-example-generic.carousel-caption {
    z-index: 10;
}
#carousel-example-generic.carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
}