<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>中南大学软件学院</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{% static "css/index.css" %}" rel="stylesheet">
</head>

<body>
    <div class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation" id="menu-nav">
        <div class="container-fluid">

            <div class="navbar-header">
                <!--屏幕较小时，右上角显示为三条横线，导航栏折叠-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <!--商标-->
                <a class="navbar-brand" href="/">   中南大学软件学院</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user == None %}
                    <li><a data-toggle="modal" data-target="#LoginModal"><span class="glyphicon glyphicon-user"></span>  登录  </a></li>
                    {% else %}
                    <li><a href="/usercenter/"><span class="glyphicon glyphicon-user"></span>  {{ user.name }}  </a></li>
                    <li><a href="#" onclick="logout()"><span class="glyphicon glyphicon-log-out"></span> 登出 </a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav">
                {% for nav in navbar %}
                    {% if nav.len == 1 %}
                    <li><a href="{{ nav.val.0.herf }}">{{ nav.val.0.name }}</a></li>
                    {% else %}
                    <li class="dropdown">
                    <a href="{{ nav.val.0.herf }}" class="dropdown-toggle" data-toggle="dropdown">
                        {{ nav.val.0.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for subnav in nav.val %}
                        {% if forloop.counter0 != 0 %}
                        <li><a href="{{ subnav.herf }}">{{ subnav.name }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    </li>
                    {% endif %}
                {% endfor %}

                {% if user != None %}
                    <li><a href="/usercenter/">个人中心</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- LoginModal -->
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="LoginModalTitle">登录</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">学号</label>
                            <input type="text" class="form-control" id="user_id">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">密码</label>
                            <input type="password" class="form-control" id="user_pwd">
                        </div>
                    </form>
                    <h4 style="color: red" id="LoginMsg"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="login()">登录</button>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!-- 左侧列表 -->
    <!--
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked sidebar" style="background-color: whitesmoke; height: 100%">
            <li id="home" style="text-align: center"><a>同级栏目</a></li>
            <li id="page" style="text-align: center"><a>同级栏目</a></li>
            <li id="page" style="text-align: center"><a>同级栏目</a></li>

        </ul>
    </div>
    -->

    <!-- 右侧内容 -->

    <!-- 路径导航 -->
    <div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <ol class="breadcrumb" style="background-color: white; text-align: left">
                <li><a href="/">软件学院</a></li>
                <li><a href="#">上级栏目</a></li>
                <li><a href="#">上级栏目</a></li>
                <li class="active">{{ article.title }}</li>
            </ol>

            <!-- 文章内容 -->
            <h1 style="text-align: center">{{ article.title }}</h1>
            <table border="0" align="center">
                <th width="30%" style="text-align: center">{{ article.edit_time }}</th>
                <th width="30%" style="text-align: center">作者：{{ article.author }}</th>
                <th width="30%" style="text-align: center">编辑：{{ article.editor }}</th>
            </table>
            <hr>
            {{ article.content }}
        </div>
        <div class="col-md-2"></div>
    </div>

<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
<!-- 本地js文件 -->
<script src="{% static "js/user_center.js" %}"></script>
</body>
</html>
<script>
    var USER_ID = "{{ user.id }}";
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: "{{ csrf_token }}" }
    });
    function login() {
        var user_id = $("#user_id").val();
        var user_pwd = $("#user_pwd").val();
        $.ajax({
            url: "/user/login/",
            type: "POST",
            data: {
                user_id:user_id,
                user_pwd:user_pwd
            },
            success:function(callback){
                var callback_dict = $.parseJSON(callback);
                var msg = callback_dict.msg;
                if(msg === -1) {
                    document.getElementById("LoginMsg").innerText = "用户名错误";
                } else if(msg === 1) {
                    document.getElementById("LoginMsg").innerText = "密码错误";
                } else {
                    // 登陆成功
                    location.reload();
                }
            }
        });
    }
    function logout() {
        var user_id = USER_ID;
        $.ajax({
            url: "/user/logout/",
            type: "POST",
            data: {
                user_id:user_id
            },
            success:function(callback){
                var callback_dict = $.parseJSON(callback);
                var msg = callback_dict.msg;
                if(msg === 0) {
                    alert("登出失败");
                } else {
                    // 登出成功
                    location.reload();
                }
            }
        });
    }
</script>